{% extends 'base-dashboard.html' %}


{% block extra_style %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/views/editclient.css') }}">
{% endblock %}


{% block content %}
    <div id="editclient_main_container">
        <h3>Edit Client</h3>

        <div id="editclient_container">
            <form id="editclient_form" method="post">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">

                <div class="mb-3">
                  <label for="input_nama_depan" class="form-label">Nama depan</label>
                  <input type="text" name="first_name" class="form-control" id="input_nama_depan" value="{{ client.first_name }}">
                </div>
                <div class="mb-3">
                  <label for="input_nama_belakang" class="form-label">Nama belakang</label>
                  <input type="text" name="last_name" class="form-control" id="input_nama_belakang" value="{{ client.last_name }}">
                </div>
                <div class="mb-3">
                  <label for="input_nama_panggilan" class="form-label">Nama panggilan</label>
                  <input type="text" name="call_name" class="form-control" id="input_nama_panggilan" value="{{ client.call_name }}">
                </div>

                <input type="submit" value="Simpan" class="btn btn-danger">
            </form>
        </div>
    </div>
{% endblock %}