#main_archive_container{
    width: 97%;
    height: fit-content;

    margin: 1em 1em 1em 1em;
    padding: 1em 1em 1em 1em;

    box-shadow: 0 0 1px 0 black;

    h3{
        width: 100%;
        text-align: center;
    }

    #search_bar{
        width: 20em;
    }

    #archive_list_container{
        width: 100%;
        height: fit-content;
    
        #client_bar{
            margin-bottom: 0.5em;
    
            #client_name_container{
                display: flex;
                flex-direction: row;
                align-items: center;
                padding-left: 0.5em;
            }
    
            #trash_button{
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 0.1em 0 0.1em 0.5em;
            }
        }
    }
}
@media only screen and(max-width: 900){
    #main_archive_container{
        width: 93%;
        height: fit-content;

        #search_bar{
            width: 20em;
        }

        #archive_list_container{
            width: 100%;
            height: fit-content;
        }
    }
}
@media only screen and(max-width: 400px){
    #main_archive_container{
        width: 92%;
        height: fit-content;

        #search_bar{
            width: 100%;
        }

        #archive_list_container{
            width: 100%;
            height: fit-content;
        }
    }
}
@media only screen and(max-height: 668px){
    #main_archive_container{
        width: 92%;
        height: fit-content;

        #search_bar{
            width: 100%;
        }

        #archive_list_container{
            width: 100%;
            height: fit-content;
        }
    }
}