#dashboard_container{
    width: 97%;
    height: fit-content;

    margin: 1em 1em 1em 1em;
    padding: 1em 1em 1em 1em;

    box-shadow: 0 0 1px 0 black;

    #dashboard_table{
        width: 100%;
        height: inherit;
    }

    h3{
        width: 100%;
        text-align: center;
        margin-bottom: 1em;
    }
}

@media only screen and (max-width: 700px){
    #dashboard_container{
        width: 94%;
        height: fit-content;

        #dashboard_table{
            overflow-x: scroll;
        }
    }
}

@media only screen and (max-width: 400px){
    #dashboard_container{
        width: 90%;
        height: fit-content;

        #dashboard_table{
            overflow-x: scroll;
        }
    }
}