<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css">
    <title>Login PDPBM</title>
</head>
<body>
    <div class="container" id="login-container">
        <form action="#" method="post">
            {{ login_form.csrf_token }}
            <div id="topper">
                <img class="img-fluid" src="{{ url_for('static', filename='img/logo_bm.png') }}" alt="BM Homeschooling Logo" id="logo-login">
                <h3>Login Portal Data Pembayaran</h3>
            </div>

            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                        {% if category == 'error' %}
                            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                {{ message }}
                                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                            </div>
                        {% elif category == 'success' %}
                            <div class="alert alert-success alert-dismissible fade show" role="alert">
                                {{ message }}
                                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                            </div>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            {% endwith %}

            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Username</label>
                {{ login_form.username(class="form-control") }}
            </div>
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Password</label>
                {{ login_form.password(class="form-control") }}
            </div>
            <button type="submit" class="btn btn-primary" id="login-button">Login</button>
        </form>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>